# ==========================================
# DATABASE CONFIGURATION
# ==========================================
DB_HOST=127.0.0.1
DB_NAME=nombre_db
DB_USER=tu_usuario 
DB_PASSWORD=tu_password
DB_POOL_LIMIT=20

# ==========================================
# APPLICATION CONFIGURATION  
# ==========================================
NODE_ENV=development
PORT=3001
API_VERSION=v1

# ==========================================
# JWT & SECURITY
# ==========================================
JWT_SECRET=your_super_secure_jwt_secret_min_32_chars
JWT_EXPIRES_IN=7d
BCRYPT_ROUNDS=12


# ===========================================
# SERVICE EMAIL
# ===========================================

EMAIL_USER=amail@gmail.com # email del desde desde donde llegan notoficaciones, estoy usando una configuracion que funciona con gmail
EMAIL_PASS=password # Passwor de aplicacion 
